<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Course list</h4>
                    <p class="category">Only the activated courses
                        <a class="btn btn-md btn-primary pull-right" routerLink="/courses/addcourse">
                            <i class="fa fa-plus"></i>Add new Course
                        </a>
                    </p>
                    
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    <input type="checkbox" (change)="updateSelected($event.target.checked)" />
                                </th>
                                <th>CODE</th>
                                <th>NAME</th>
                                <th>CREDIT</th>
                                <th>DATE</th>
                                <th>SEMESTER</th>
                                <th>CLASSROOM</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = "let delivery of courseList">
                                <td>
                                    <input hidden="hidden" name="id" />
                                    <input type="checkbox" [checked]="allChecked" (change)="updateRemoveCourseList($event.target.checked, delivery)" />
                                </td>
                                <td><a (click)="onSelect(delivery)" style="cursor:pointer">{{delivery.course.courseCode}}</a></td>
                                <td>{{delivery.course.title}}</td>
                                <td>{{delivery.course.credit}}</td>
                                <td>{{week[delivery.weekDelivery-1]}} {{time[delivery.timeSlot-1]}}</td>
                                <td>{{delivery.semester.semesterName}}</td>
                                <td width="20%">{{delivery.classroom.classroomName}}</td>
                                <td width="10%">
                                    <button class="btn btn-xs btn-danger" value="delete" (click)="delete(delivery)" >
                                    <span class="fa fa-times"></span></button>
                                    <button class="btn btn-xs btn-warning" (click)="onSelectEdit(delivery)">
                                    <i class="fa fa-edit"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <button class="btn btn-danger" id="deleteSelected" (click)="removeSelectedCourses()" [disabled]="!allChecked">Delete Selected</button>
            </div>
        </div>
    </div>
</div>
