<div class="container" [hidden]="loggedIn">
  <div id="login-page">
      <div class="alert alert-danger" role="alert" *ngIf="error">
          <strong>Try again</strong>
        </div>
      <form (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" [(ngModel)]="credential.username" name="username"  class="form-control" placeholder="Your Username" required>          
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" [(ngModel)]="credential.password" name="password" id='password' placeholder="Your Password" required>        
          </div>      
          <button type="submit" class="btn btn-success pull-right">Submit</button>
        </form>
  </div>

</div>